﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--

    TemplateMo 546 Sixteen Clothing

    https://templatemo.com/tm-546-sixteen-clothing

    -->
    <!-- Additional CSS Files -->
    <link href="~/Assets/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Assets/assets/css/templatemo-sixteen.css" rel="stylesheet" />
    <link href="~/Assets/assets/css/owl.css" rel="stylesheet" />
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    @Html.Partial("_PartialHeader")
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <!-- Banner Ends Here -->
    <div style="padding-top:100px">
        @RenderBody()
    </div>



    @Html.Partial("_PartialFooter")

    <!-- Bootstrap core JavaScript -->

    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Additional Scripts -->
    <script src="~/Assets/assets/js/custom.js"></script>
    <script src="~/Assets/assets/js/owl.js"></script>
    <script src="~/Assets/assets/js/slick.js"></script>
    <script src="~/Assets/assets/js/isotope.js"></script>
    <script src="~/Assets/assets/js/accordions.js"></script>

    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: false
        });
        $('.play').on('click', function () {
            owl.trigger('play.owl.autoplay', [1000])
        })
        $('.stop').on('click', function () {
            owl.trigger('stop.owl.autoplay')
        })

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>