﻿<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
                <h2>Tư duy là sức mạnh của sáng tạo</h2>
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
                <h2>Tư duy là sức mạnh của sáng tạo</h2>
            </div>
        </div>
        <div class="banner-item-03">
            <div class="text-content">
                <h2>Tư duy là sức mạnh của sáng tạo</h2>
            </div>
        </div>
    </div>
</div>

