﻿.pagination li a {
    border: 0.5px solid;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0px 10px;
    background-color: black;
    color: white;
}

.pagination{
    justify-content: center;
}
