﻿@model Service.Model.OutMemberBorrow

@{
    ViewBag.Title = "Chi tiết người mượn";
}

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">


        <dt>
            <p> Mã sinh viên </p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            <p> Tên sinh viên </p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt>
            <p> Số điện thoại</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            <p> Email </p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại", "Index")
</p>