﻿@model IEnumerable<Service.Model.OutMemberBorrow>

@{
    ViewBag.Title = "Danh sách mượn thiết bị";
}

<h2>@ViewBag.Title</h2>

<div class="d-inline">
    @Html.ActionLink("Mượn thiết bị", "Create", null, new { @class="float-left"})
    @Html.ActionLink("Xuất ra file excel", "Export", null, new { @class = "float-right" })
</div>
<table class="table">
    <tr>
        <th>
            Tên thiết bị
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Mã sinh viên
        </th>      
        <th>
            Ngày mượn
        </th>
        <th>
            Ngày trả
        </th>
        <th class="text-center">
            Đã trả
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Device.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalBorrow)
    </td>
    <td>
        <a href="@Url.Action("Details","OutMemberBorrows",new { id=item.Id})">@item.StudentID</a>
    </td>    
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.IsReturn)
    </td>
    <td>
        @if (!item.IsReturn)
        {
            @Html.ActionLink("Trả thiết bị", "ReturnDevice", new { id = item.Id })
        }
    </td>
</tr>
}

</table>
