﻿@model bool
@if (Model)
{
    <span style="font-size:20px"><i class="fas fa-check text-success"></i></span>
}
else
{
    <span style="font-size:20px"><i class="fas fa-times text-danger"></i></span>
}
