﻿@model IEnumerable<Service.Model.CategoryDevice>
@foreach (var item in Model)
{
    <li><a class="dropdown-item" href="@Url.Action("GetDevicesByCategory","Devices", new { CategoryName = item.Name})"> @item.Name</a></li>
}