﻿@model IEnumerable<Service.Model.CategoryDevice>

@{
    ViewBag.Title = "Index";
}
<div class="products">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-lg-4 col-md-4 all dev">
                <div class="product-item">
                    <a href="#"><img src="~/Assets/assets/images/product_01.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="#"><h4>@item.Name</h4></a>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>