﻿@model IEnumerable<Service.Model.CategoryNew>

    @foreach (var item in Model)
    {
        <a class="collapse-item" href="@Url.Action("GetNewsByCategory","News", new { categoryId = item.Id})">@item.Name</a>
        
    }

