﻿@model Service.Model.Device

@{
    ViewBag.Title = "Xoá";
}

<h2>Xoá</h2>

<h3>Bạn có chắc chắn muốn xoá?</h3>
<div>
    <h4>Thiết bị</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Tên loại thiết bị</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryDevice.Name)
        </dd>

        <dt>
            <p>Tên thiết bị</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <p>Mô tả</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <p>Tổng số</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNumber)
        </dd>

        <dt>
            <p>NSX</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            <p>Ngày nhập</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Import)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>