﻿@model Service.Model.Device

@{
    ViewBag.Title = "Chi tiết";
}

<h2>Chi tiết</h2>

<div>
    <h4>Thiết bị</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Tên loại thiết bị</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryDevice.Name)
        </dd>

        <dt>
            <p>Tên thiết bị</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <p>Mô tả</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <p>Tổng số</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalNumber)
        </dd>

        <dt>
            <p>NSX</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            <p>Ngày nhập</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Import)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay lại", "Index")
</p>