﻿@model Service.Model.Device

@{
    ViewBag.Title = "Sửa";
}

<h2>Sửa</h2>

@using (Html.BeginForm("Edit", "Devices", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Thiết bị</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <p>Tên thiết bị</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <p>Loại thiết bị</p>
        <div class="col-md-10">
            @Html.DropDownList("CategoryDeviceId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryDeviceId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <p>Mô tả</p>
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control ckeditor" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Tổng số</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TotalNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TotalNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <p>Ảnh</p>
        <div class="col-md-10">
            @Html.HiddenFor(model => model.ImageUrl)
            @if (Model != null && !string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="Alternate Text" />
            }
            <input type="file" name="postImage" />
        </div>
    </div>

    <div class="form-group">
        <p>NSX</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p>Ngày nhập</p>
        <div class="col-md-10">
            <input type="date" name="Date_Import" value="" class="form-control" />
            @*@Html.EditorFor(model => model.Date_Import, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.Date_Import, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
}