﻿@model PagedList.IPagedList<Service.Model.Device>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Thiết bị";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Tên thiết bị</p>
        </th>
        <th>
            <p>Mô tả</p>
        </th>
        <th>
            <p>Tổng số</p>
        </th>
        <th>
            <p>Còn lại</p>
        </th>
        <th>
            <p>Ảnh</p>
        </th>
        <th>
            <p>NSX</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRest)
            </td>
            <td>
                <img src="@item.ImageUrl" alt="@item.ImageName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                @Html.ActionLink("Xoá", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))