﻿@model IEnumerable<Service.Model.New>
    @foreach (var item in Model)
    {
        <div class="lastest-news">
            <small>@item.Post_On</small>
            <h4 class="news-title"><a href="@Url.Action("Details","News", new {id=item.PostId })">@item.Title</a></h4>
        </div>
    }
