﻿@model Service.Model.New

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dd>
            @Html.Raw(Model.Post_Content)
        </dd>

    </dl>
</div>
