﻿@model IEnumerable<Service.Model.New>

@{
    ViewBag.Title = "Tin tức";
}

<div class="row">
    <div class="col-3">
        @Html.Action("GetAllCategoryNew","CategoryNews")
    </div>
    <div class="col-6">
        @foreach (var item in Model)
        {
        <div class="row mb-4 border-bottom">
            <div class="col-8">
                <small>@item.Post_On</small>
                <h2 class="news-title"><a href="@Url.Action("Details","News", new {id=item.Id })">@item.Title</a></h2>
                <p class="news-content">@Html.Raw(item.Short_Desciption)</p>
            </div>
            <div class="col-4">
                <img class="mr-3" src="@item.ImageUrl" alt="@item.ImageName" style="width:100%">
            </div>
        </div>
        }
    </div>
    <div class="col-3">
        @Html.Action("GetLastestNews","News")
    </div>
</div>