﻿@model IEnumerable<Service.Model.Device>

@{
    ViewBag.Title = "Danh mục thiết bị";
}
<div class="container">
    <h2 style="text-align:center;padding-top:120px">@ViewBag.Title</h2>

    <div class="filters-content" style="margin-top: 50px">
        <div class="row grid">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 all des">
                    <div class="product-item">
                        <a href="#"><img src="@item.ImageUrl" alt="@item.ImageName" style="height:200px" /></a>
                        <div class="down-content">
                            <a href="#"><h4 id="name-@item.Id">@item.Name</h4></a>
                            <p class="mb-0">Số lượng: @item.TotalRest</p>
                            <input type="hidden" id="quantity-@item.Id" value="@item.TotalRest" />
                            <p>@item.Date_Import</p>
                            <div class="text-center">
                                <button class="btn btn-primary btn-borrow" id="@item.Id" data-toggle="modal" data-target="#exampleModal">Mượn</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mượn thiết bị</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h3 id="modal-name"></h3>
                    <input type="hidden" id="modal-deviceId" value="" />
                </div>
                <div class="form-group">
                    <label>Số lượng mượn:</label>
                    <input type="number" class="form-control" id="modal-borrow" value="" max="" />
                </div>
                <div class="form-group">
                    <label>Ngày bắt đầu:</label>
                    <input type="date" class="form-control" id="modal-startdate" value="" max="" />
                </div>
                <div class="form-group">
                    <label>Ngày kết thúc:</label>
                    <input type="date" class="form-control" id="modal-enddate" value="" max="" />
                </div>
                <div class="form-group">
                    <label>Tổng số:</label>
                    <input type="number" class="form-control" id="modal-total" value="" readonly />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="submit-borrow" data-dismiss="modal">Mượn</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".btn-borrow").click(function () {
                var id = this.id;
                var name = $("#name-" + id).text();
                var quantity = $("#quantity-" + id).val();
                $("#modal-deviceId").val(id);
                $("#modal-name").html(name);
                $("#modal-total").val(quantity);
                $("#modal-borrow").attr({
                    "max": quantity,
                    "min": 0
                });
            });
            function ConvertDateTime(date) {
                var newdate = new Date(date);
                return newdate.toISOString();
            };
            $("#submit-borrow").click(function () {
                var id = $("#modal-deviceId").val();
                var totalBorrow = $("#modal-borrow").val();
                var startdate = $("#modal-startdate").val();
                var enddate = $("#modal-enddate").val();
                $.ajax({
                    url: "@Url.Action("Borrow","BorrowDetails")",
                    type: "post",
                    data: {
                        deviceId: id,
                        totalBorrow: totalBorrow,
                        startDate: ConvertDateTime(startdate),
                        endDate: ConvertDateTime(enddate)
                    },
                    success: function (data) {
                        if (data) {
                            toastr.success('Mượn đồ thành công!', 'Thông báo');
                            setTimeout(function(){ window.location.reload() }, 3000);
                        }
                    },
                    error: function (error) {
                        toastr.warning('Mượn đồ không thành công!', 'Thông báo');
                    }
                })
            })
        })
    </script>
}