﻿@model IEnumerable<Service.Model.CategoryNew>
<ul style="padding:10px 20px">
    @foreach (var item in Model)
    {
        <li style="padding:10px 0">
            <a href="@Url.Action("GetNewsByCategory","News", new { categoryId = item.Id})" style="color:gray">@item.Name</a>
        </li>
    }
</ul>
