﻿@model IEnumerable<Service.Model.CategoryDevice>

@foreach (var item in Model)
{
    <a class="collapse-item" href="@Url.Action("GetDeviceByCategory", "Devices", new { CategoryName = item.Name, page = 1, pageSize = 3 })">@item.Name</a>
}