﻿@model IEnumerable<Service.Model.CategoryDevice>

@{
    ViewBag.Title = "Loại thiết bị";
}

<h2>Danh sách loại thiết bị</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên thiết bị
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Ảnh
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.Raw(item.Description)
        </td>
        <td>
            <img src="@item.ImageUrl" alt="@item.Name" style="width:50px" />
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) |
            @Html.ActionLink("Xoá", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>