﻿@model IEnumerable<Service.Model.TimelineEvent>

@{
    ViewBag.Title = "Timeline Event";
}
<div id="calendar">

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 class="modal-title text-center"><span id="eventTitle1"></span></h4>
            <div class="modal-body">           
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button id="btnDelete" class="btn btn-danger btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </button>
                <button id="btnEdit" class="btn btn-success btn-sm pull-right">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"> Close </button>
            </div>
        </div>
    </div>
</div>

<div id="myModalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><span id="eventTitle"></span></h4>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventId" value="0" />
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" id="txtTitle" rows="5" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"> </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"> </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Desciption</label>
                        <textarea id="txtDesciption" rows="5" class="form-control"></textarea>
                    </div>             
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-success"> Save </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>          
        </div>

    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function ConvertDateTime(date) {
                var newdate = new Date(date);
                return newdate.toISOString();
            }
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("FindAll","TimeLineEvents")",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                id: v.id,
                                title: v.name,
                                start: ConvertDateTime(v.startDate),
                                end: ConvertDateTime(v.endDate),
                                description: v.description,
                            });

                        })
                        GenerateCalendar(events);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }


            function GenerateCalendar(events) {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth',
                    contentHeight: 550,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        console.log(selectedEvent);
                        $('#eventTitle1').text(calEvent.event.title);
                        console.log(calEvent.event);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</Url>' + calEvent.event.startStr));
                        if (calEvent.event.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.event.endStr));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.event.extendedProps.description));
                        $('#myModal #pDetails').empty().html($description);
                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start) {
                        selectedEvent = {
                            event: {
                                extendedProps: { description: '', },
                                start: start.start,
                                end: start.end,
                                id: start.id==null?0:start.id,
                                title: ''
                            }
                        };
                        openAddEditModal();
                        calendar.unselect();
                    },
                    editable: true,
                    eventDrop: function (data) {
                        var item = {
                            description: data.event.extendedProps.description,
                            start: ConvertDateTime(data.event.start),
                            end: ConvertDateTime(data.event.end),
                            id: data.event.id,
                            title: data.event.title
                        };
                        console.log(data.event);
                        UpdateEvent(item);
                    }
                });
                calendar.render();
            }
            $('#btnEdit').click(function () {
                openAddEditModal();
            })
            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete", "TimeLineEvents")',
                        data: { 'id': selectedEvent.event.id },
                        success: function (data) {
                            if (data) {
                                //refresh the calendar
                                FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })

            $('#dtp1,#dtp2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm A'
            });
            function openAddEditModal() {
                console.log(selectedEvent);
                if (selectedEvent.event != null) {
                    $('#hdEventId').val(selectedEvent.event.id);
                    $('#txtStart').val(ConvertDateTime(selectedEvent.event.start));
                    $('#txtEnd').val(ConvertDateTime(selectedEvent.event.end));
                    $('#txtDesciption').val(selectedEvent.event.extendedProps.description);
                    $('#txtTitle').val(selectedEvent.event.title);
                }
                else {
                    $('#hdEventId').val(0);
                }
                $('#myModal').modal('hide');
                $('#myModalAdd').modal('show');
            }

            $('#btnSave').click(function () {
                //if ($('#txtStart').val().trim() == "") {
                //    alert('Start date required');
                //    return;
                //}
                //if ($('#chkIsFullDay').is(': checked') == false && $('#txtEnd').val().trim() == "") {
                //    alert('End date required');
                //    return;
                //}
                //else {
                //    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                //    var endDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                //    if (startDate > endDate) {
                //        alert('Invalid end date');
                //        return;
                //    }
                //}

                var data = {
                    id: $('#hdEventId').val(),
                    start: ConvertDateTime($('#txtStart').val()),
                    end: ConvertDateTime($('#txtEnd').val()),
                    title: $('#txtTitle').val(),
                    userId: $('#ddUser').val(),
                    description: $('#txtDesciption').val(),
                }
                AddEvent(data);
                $('#myModalAdd').modal('hide');
                // goi function de submit data den server
            })
            function AddEvent(data) {
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create","TimeLineEvents")',
                    data: data,
                    success: function (data) {
                        if (data) {
                            //refresh the calendar
                            console.log(data);
                            FetchEventAndRenderCalendar();
                            $('#myModalAdd').modal('hide');
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
            function UpdateEvent(data) {
                console.log(data);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Edit","TimeLineEvents")',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //refresh the calendar
                            FetchEventAndRenderCalendar();
                            $('#myModalAdd').modal('hide');
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        })

    </script>
}