﻿@model IEnumerable<Service.Model.BorrowDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Lịch sử mượn</h2>

<div class="d-inline">
    @Html.ActionLink("Xuất ra file excel", "Export",null, new { @class="float-right"})
</div>

<table class="table">
    <tr>
        <th>
            <p>Tên thiết bị</p>
        </th>
        <th>
            <p>Tên người mượn</p>
        </th>
        <th>
            <p>Số lượng</p>
        </th>
        <th>
            <p>Ngày mượn</p>
        </th>
        <th>
            <p>Ngày trả</p>
        </th>
        <th class="text-center">
            <p>Đã trả</p>
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Device.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserFactor.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TotalBorrow)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Start_Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.End_Date)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.IsReturn)
    </td>
    <td>
        @if (!item.IsReturn)
        {
            @Html.ActionLink("Trả thiết bị", "ReturnDevice", new { id = item.Id })
        }
    </td>
</tr>
}
</table>